ion-list-header{
    ion-label{
        text-align: center;
        color: var(--ion-color-secondary);
        font-size: 1.5rem;
    }
}


img{
    max-width: 50%;
    margin-left: 25%;
    margin-top: 50%;
    border: 0;
}