
img{
  max-width: 48px;
  max-height: 48px;
  padding-right: 20px;
}

ion-searchbar{
  --icon-color: var (--ion-color-primary);
  --box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 10px 0px;
  ::ng-deep{
      .searchbar-input-container{            
          .searchbar-input{ 
              border-radius: 10px;
              //any style that you want to implement on your searchbar
          }
      }
  }   
}

.item.sc-ion-label-md-h, .item .sc-ion-label-md-h{
  white-space: pre-line;
}

ion-item::part(native){
  display: flex;
  flex-flow: column wrap;
}

.encomenda-header-container{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.encomenda-conatiner{
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  align-items: center;
}