<ion-header [translucent]="true">
  <ion-toolbar color="primary" >
    <ion-searchbar animated="true" show-clear-button="always" placeholder="Buscar encomenda" (ionChange)="buscarEncomenda($event)" clear-icon="trash-bin"></ion-searchbar>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-progress-bar *ngIf="loading" type="indeterminate" color="secondary"></ion-progress-bar>

  <div id="container">
    <ion-list [inset]="true">
        <ion-item *ngFor="let encomenda of encomendaTracking" >
          <div class="encomenda-header-container">
            <ion-label position="stacked" >{{ encomenda.dtHrCriado | date:'dd/MM/yyyy HH:mm' }}</ion-label>
                  
                <div class="location-wrapper">
                  <ion-icon name="location-outline"></ion-icon>
                  <ion-label position="stacked" class="location" *ngIf="encomenda.unidade.endereco?.cidade as value; else locationPais">
                  </ion-label> 
                  <ng-template #locationPais > 
                    <ion-label class="location" position="stacked">{{encomenda.unidade.endereco.nome}}</ion-label> 
                  </ng-template>
                </div>      
          </div>
          
          <div class="encomenda-conatiner">
            <img [src]="this.correioService.baseUrl+encomenda.urlIcone" alt="">
            <ion-label>{{encomenda.descricao}}</ion-label>
          </div>
        </ion-item>
    </ion-list>
  </div>
</ion-content>
